{% extends "base.html" %}
{% load socialaccount %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <br>
            <br>
            {% if user.is_authenticated %}
            <p>Welcome {{ user.username }} !!!</p>
            <form hx-post="{% url 'shorten_url' %}" hx-target="#message">
                {% csrf_token %}
                <input type="url" name="url" class="form-control mb-2" placeholder="Enter Url" required>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <div id="message" class="mt-3">
                
            </div>
            {% else %}
            <form method="POST" action="{% url 'redirect-to-login' %}">
                {% csrf_token %}
                <input type="url" name="url" class="form-control mb-2" placeholder="Enter Url" required>
                <button type="submit" class="btn btn-primary">Generate URL</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Link</th>
                <th scope="col">Shortned url</th>
                <th scope="col">Number of Views</th>
              </tr>
            </thead>
            <tbody>
                {% for link in links %}
              <tr>
                <th scope="row">1</th>
                <td><a href="{{link.original_url}}">{{link.original_url}}</a></td>
                <td><a href="http://127.0.0.1:8000/{{link.slug}}">http://127.0.0.1:8000/{{link.slug}}</a></td>
                <td>{{link.count}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}
</div>

<script>
    function triggerCopy() {
        // get the container
        const element = document.querySelector('#message_text');
        // Create a fake `textarea` and set the contents to the text
        // you want to copy
        const storage = document.createElement('textarea');
        storage.value = element.innerHTML;
        element.appendChild(storage);
      
        // Copy the text in the fake `textarea` and remove the `textarea`
        storage.select();
        storage.setSelectionRange(0, 99999);
        document.execCommand('copy');
        element.removeChild(storage);
    }
</script>

{% endblock content %}
